@import "nodeca.core/client/common/_variables"

.rcdad.forum-post__after
  margin-bottom 3rem

  & > .rcdad__content
    // Wide screen, see others below
    height 120px
    // For fixed width images
    text-align center
    // Protection when ad size is wrong (too big)
    overflow hidden

  & > .rcdad__meta
    margin-bottom 1rem
    color $body-color-secondary
    font-size $font-size-xs
    border-bottom 1px solid $decorator-color
    padding-bottom .375rem

// Ads area X*Y should be > 60000,
// + 30px left-right margin

@media (max-width: 550px)
  .rcdad.forum-post__after > .rcdad__content
    height 130px

@media (max-width: 500px)
  .rcdad.forum-post__after > .rcdad__content
    height 150px

@media (max-width: 450px)
  .rcdad.forum-post__after > .rcdad__content
    height 170px

@media (max-width: 400px)
  .rcdad.forum-post__after > .rcdad__content
    height 190px

@media (max-width: 350px)
  .rcdad.forum-post__after > .rcdad__content
    height 210px
