.dev-warning
  .dev-warning__text!= self.t('dev_warning')
  .dev-warning__aside
    button.close(
      type='button'
      aria-label='Close'
      data-on-click='common.dev_warning:close')
      span.icon.icon-x.icon-only(aria-hidden='true')
