#content
  != self.partial('@common.blocks.navbar.logo_apps')

  .layout__container.container-fluid
    != self.partial('@common.blocks.announces')

    header.page-head
      h1.page-head__title(itemprop='name')= self.t('title')

    .rules-content
      != self.rules_content
