@import "nodeca.core/client/common/_variables"

.rcdad.forum-post__after
  margin-bottom 2rem

  & > .rcdad__content
    height 120px

  & > .rcdad__meta
    margin-bottom 1rem
    color $body-color-secondary
    font-size $font-size-xs
    line-height 1.25em
    border-bottom 1px solid $decorator-color
    padding-bottom .375rem
